<!DOCTYPE html>
<html lang="en">
<!--
  **NOTE:** This is a template for index.html. It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment. htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file. The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->

<head>
  <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
    To track JavaScript errors via TrackJS, sign up for a free trial at TrackJS.com and enter your token in /webpack.config.prod.js on line 55.
   -->
  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
  <script>window._trackJs = {token: '<%= htmlWebpackPlugin.options.trackJSToken %>'};</script>
  <script src="https://d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js"></script>
  <% } %>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <title>weekly</title>

  <link rel="shortcut icon" href="/favicon.ico">
  <!-- Add manifest -->
  <link rel="manifest" href="/manifest.json">
  <!-- Tell the browser it's a PWA -->
  <meta name="mobile-web-app-capable" content="yes">
  <!-- Tell iOS it's a PWA -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- Make sure theme-color is defined -->
  <meta name="theme-color" content="#536878">

  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
          integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
          crossorigin="anonymous"></script>


</head>

<body>
<div id="app">loading</div>

<script>
  // if ('serviceWorker' in navigator) {
  //   window.addEventListener('load', function () {
  //     navigator.serviceWorker.register('service-worker.js', {scope: '/'}).then(function (registration) {
  //       // Registration was successful
  //       console.log('ServiceWorker registration successful with scope: ', registration.scope);
  //     }, function (err) {
  //       // registration failed :(
  //       console.log('ServiceWorker registration failed: ', err);
  //     }).catch(function (err) {
  //       console.log(err)
  //     });
  //   });
  // } else {
  //   console.log('service worker is not supported');
  // }
</script>

<!--<script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>-->
<!--<script>-->
<!--// Initialize Firebase-->
<!--var config = {-->
<!--apiKey: "AIzaSyBtjdIpz-4Lq3vSDPRCIiyRAlEmwR-qNKE",-->
<!--authDomain: "weekly-scheduler.firebaseapp.com",-->
<!--databaseURL: "https://weekly-scheduler.firebaseio.com",-->
<!--projectId: "weekly-scheduler",-->
<!--storageBucket: "",-->
<!--messagingSenderId: "525804016085"-->
<!--};-->
<!--firebase.initializeApp(config);-->
<!--</script>-->
</body>


</html>
